body {
  font-family: Arial;
  margin: 0;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  color: white;
  text-align: center;
}

header {
  padding: 20px;
  background: rgba(0,0,0,0.3);
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px;
  flex-wrap: wrap;
}

.card {
  background: white;
  color: black;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
}

button {
  padding: 8px;
  border: none;
  background: #2a5298;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.cart {
  margin-top: 40px;
}